<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Express Expenditure Ledger</title>
		<link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body class="container">
		<h1>
			Express Expenditure Ledger
			<a href="/new-entry" class="btn btn-primary pull-right">
				Log a new entry
			</a>
		</h1>